<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Excel Local MCP"
      Manufacturer="Excel MCP"
      Version="1.0.0"
      UpgradeCode="{F33BF651-7197-4F2A-92AF-42EB91C3C8E4}"
      Language="1033"
      Scope="perMachine">
    <SummaryInformation Description="Excel MCP server and client tools" Manufacturer="Excel MCP" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Excel Local MCP is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="Excel Local MCP" Level="1">
      <ComponentGroupRef Id="ProductFiles" />
      <ComponentGroupRef Id="MenuShortcuts" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Excel Local MCP">
        <Directory Id="ClientDir" Name="ExcelMcp.Client" />
        <Directory Id="ServerDir" Name="ExcelMcp.Server" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ShortcutDir" Name="Excel Local MCP" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductFiles">
      <Component Id="ReadmeComponent" Directory="INSTALLFOLDER" Guid="{3F1F5F00-0C07-4361-9F9D-A43A17FB15DC}">
        <File Source="$(var.PublishedDir)\README.txt" KeyPath="yes" />
      </Component>
      <Component Id="RunClientPsComponent" Directory="INSTALLFOLDER" Guid="{96FA42C0-4475-40C1-9BA3-7F9C3834CC95}">
        <File Source="$(var.PublishedDir)\run-client.ps1" KeyPath="yes" />
      </Component>
      <Component Id="RunClientBatComponent" Directory="INSTALLFOLDER" Guid="{117C9890-54A4-4A0D-8F94-A2BD53C02972}">
        <File Source="$(var.PublishedDir)\run-client.bat" KeyPath="yes" />
      </Component>
      <Component Id="RunServerPsComponent" Directory="INSTALLFOLDER" Guid="{D76A9927-7429-46BB-BF0A-A1733155A8B2}">
        <File Source="$(var.PublishedDir)\run-server.ps1" KeyPath="yes" />
      </Component>

      <Component Id="ServerExeComponent" Directory="ServerDir" Guid="{7E9797B2-08BF-403F-913D-669C0C3B3D43}">
        <File Source="$(var.PublishedDir)\ExcelMcp.Server\ExcelMcp.Server.exe" KeyPath="yes" />
      </Component>
      <Component Id="ServerContractsPdbComponent" Directory="ServerDir" Guid="{32172EAD-D197-4F7C-8CB1-0125F54ED998}">
        <File Source="$(var.PublishedDir)\ExcelMcp.Server\ExcelMcp.Contracts.pdb" KeyPath="yes" />
      </Component>
      <Component Id="ServerPdbComponent" Directory="ServerDir" Guid="{8E01C9C5-2834-471F-9B50-3A251F57B5CE}">
        <File Source="$(var.PublishedDir)\ExcelMcp.Server\ExcelMcp.Server.pdb" KeyPath="yes" />
      </Component>

      <Component Id="ClientExeComponent" Directory="ClientDir" Guid="{61313D1C-4D8D-42D7-83A3-169575175651}">
        <File Source="$(var.PublishedDir)\ExcelMcp.Client\ExcelMcp.Client.exe" KeyPath="yes" />
      </Component>
      <Component Id="ClientContractsPdbComponent" Directory="ClientDir" Guid="{D3E0F456-32B4-40E7-A760-EF8D7ED0C618}">
        <File Source="$(var.PublishedDir)\ExcelMcp.Client\ExcelMcp.Contracts.pdb" KeyPath="yes" />
      </Component>
      <Component Id="ClientPdbComponent" Directory="ClientDir" Guid="{1D9AF457-4CE4-4949-8490-0B7F2D10C6BB}">
        <File Source="$(var.PublishedDir)\ExcelMcp.Client\ExcelMcp.Client.pdb" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MenuShortcuts">
      <Component Id="ClientShortcutComponent" Directory="ShortcutDir" Guid="{8CA3AC6B-1DF0-47AF-8E51-D316D0B51950}">
        <Shortcut Id="ClientShortcut" Name="Excel MCP Client" Target="[INSTALLFOLDER]run-client.bat" WorkingDirectory="INSTALLFOLDER" Description="Launch the Excel MCP client" />
        <RegistryValue Root="HKCU" Key="Software\ExcelMcp\Installer" Name="ClientShortcut" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="RemoveShortcutDir" Directory="ShortcutDir" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
